.sheffanessea {
  position: absolute;
  top: 46px;
  left: 1272px;
  letter-spacing: 0.16em;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 648px;
  height: 61px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.transforming {
  margin: 0;
}
.transforming-into-the-container1 {
  width: 100%;
}
.transforming-into-the-container {
  position: absolute;
  top: 107px;
  left: 1229px;
  font-size: var(--font-size-mini);
  letter-spacing: 0.16em;
  font-weight: 900;
  color: var(--color-gray-100);
  text-align: right;
  display: flex;
  align-items: center;
  width: 648px;
  height: 56px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.title,
.title-bar {
  position: absolute;
  top: 0;
  left: 0;
}
.title {
  background-color: var(--color-gray-200);
  width: 1920px;
  height: 238px;
  overflow: hidden;
}
.title-bar {
  border-radius: var(--br-38xl);
  background-color: var(--color-rosybrown);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 981px;
  height: 142px;
}
.cart {
  position: absolute;
  top: 32px;
  left: 766px;
  font-size: var(--font-size-41xl);
  letter-spacing: 0.16em;
  font-weight: 900;
  text-align: left;
  display: flex;
  align-items: center;
  width: 181px;
  height: 61px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.shopping-icon-child {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 237px;
  height: 222px;
}
.content-image-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 211.8px;
  height: 198px;
  object-fit: cover;
}
.addremove,
.addremove-btn-child {
  position: absolute;
  top: 3px;
  left: 0;
  width: 194px;
  height: 60px;
}
.addremove-btn-child {
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.addremove {
  letter-spacing: 0.29em;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.addremove-btn,
.shopping-icon {
  position: absolute;
  top: 233px;
  left: 21px;
  width: 194px;
  height: 70px;
  overflow: hidden;
}
.shopping-icon {
  top: 180px;
  left: 363px;
  background-color: var(--color-gray-200);
  width: 237px;
  height: 307px;
}
.addremove-btn-item {
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 194px;
  height: 60px;
}
.addremove-btn1,
.shopping-icon1 {
  position: absolute;
  top: 227px;
  left: 21px;
  width: 194px;
  height: 70px;
  overflow: hidden;
}
.shopping-icon1 {
  top: 185px;
  left: 633px;
  background-color: var(--color-gray-200);
  width: 237px;
  height: 307px;
}
.addremove-btn2,
.shopping-icon2 {
  position: absolute;
  top: 231px;
  left: 21px;
  width: 194px;
  height: 70px;
  overflow: hidden;
}
.shopping-icon2 {
  top: 185px;
  left: 903px;
  background-color: var(--color-gray-200);
  width: 237px;
  height: 307px;
}
.addremove-btn3,
.shopping-icon3 {
  position: absolute;
  top: 231px;
  left: 22px;
  width: 194px;
  height: 70px;
  overflow: hidden;
}
.shopping-icon3 {
  top: 508px;
  left: 363px;
  background-color: var(--color-gray-200);
  width: 237px;
  height: 307px;
}
.addremove-btn4,
.shopping-icon4 {
  position: absolute;
  top: 232px;
  left: 22px;
  width: 194px;
  height: 70px;
  overflow: hidden;
}
.shopping-icon4 {
  top: 508px;
  left: 633px;
  background-color: var(--color-gray-200);
  width: 237px;
  height: 307px;
}
.addremove-btn5,
.shopping-icon5 {
  position: absolute;
  top: 233px;
  left: 22px;
  width: 194px;
  height: 70px;
  overflow: hidden;
}
.shopping-icon5 {
  top: 508px;
  left: 903px;
  background-color: var(--color-gray-200);
  width: 237px;
  height: 307px;
}
.addremove-btn6 {
  top: 237px;
  left: 21px;
  width: 194px;
  height: 70px;
}
.addremove-btn6,
.addremove-btn7,
.shopping-icon6 {
  position: absolute;
  overflow: hidden;
}
.shopping-icon6 {
  top: 832px;
  left: 363px;
  background-color: var(--color-gray-200);
  width: 237px;
  height: 307px;
}
.addremove-btn7 {
  top: 232px;
  left: 21px;
  width: 194px;
  height: 70px;
}
.shopping-icon7 {
  top: 837px;
  left: 633px;
  background-color: var(--color-gray-200);
  width: 237px;
  height: 307px;
}
.addremove-btn9,
.shopping-icon7,
.shopping-icon8 {
  position: absolute;
  overflow: hidden;
}
.shopping-icon8 {
  top: 837px;
  left: 903px;
  background-color: var(--color-gray-200);
  width: 237px;
  height: 307px;
}
.addremove-btn9 {
  top: 237px;
  left: 22px;
  width: 194px;
  height: 70px;
}
.shopping-icon10,
.shopping-icon11,
.shopping-icon9 {
  position: absolute;
  top: 1160px;
  left: 363px;
  background-color: var(--color-gray-200);
  width: 237px;
  height: 307px;
  overflow: hidden;
}
.shopping-icon10,
.shopping-icon11 {
  left: 633px;
}
.shopping-icon11 {
  left: 903px;
}
.shopping-icon12,
.shopping-icon13,
.shopping-icon14,
.shopping-icon15,
.shopping-icon16,
.shopping-icon17 {
  position: absolute;
  top: 1483px;
  left: 363px;
  background-color: var(--color-gray-200);
  width: 237px;
  height: 307px;
  overflow: hidden;
}
.shopping-icon13,
.shopping-icon14,
.shopping-icon15,
.shopping-icon16,
.shopping-icon17 {
  top: 1488px;
  left: 633px;
}
.shopping-icon14,
.shopping-icon15,
.shopping-icon16,
.shopping-icon17 {
  left: 903px;
}
.shopping-icon15,
.shopping-icon16,
.shopping-icon17 {
  top: 1811px;
  left: 363px;
}
.shopping-icon16,
.shopping-icon17 {
  left: 633px;
}
.shopping-icon17 {
  left: 903px;
}
.paycont,
.title-bar1 {
  position: absolute;
  left: 8px;
  background-color: var(--color-rosybrown);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 657px;
}
.paycont {
  top: 178px;
  border-radius: 52px;
  height: 1929px;
}
.title-bar1 {
  top: 0;
  border-radius: var(--br-38xl);
  height: 142px;
}
.paymentshipping {
  position: absolute;
  top: 9px;
  left: 43px;
  letter-spacing: 0.16em;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 591px;
  height: 120px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.paymentcont {
  position: absolute;
  top: 0;
  left: 1209px;
  width: 673px;
  height: 2118px;
  overflow: hidden;
  font-size: 40px;
}
.checkout1,
.navb {
  position: absolute;
  left: 0;
  background-color: var(--color-skyblue);
}
.checkout1 {
  top: 431px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 2617px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
}
.navb {
  top: 0;
  border-radius: var(--br-11xl);
  box-shadow: 12px 0 24px rgba(0, 0, 0, 0.25);
  width: 297px;
  height: 3464px;
}
.dragonfly-mascot-1 {
  position: absolute;
  top: 46px;
  left: 16px;
  width: 264px;
  height: 274px;
  object-fit: cover;
}
.home-btn-icon,
.shopping {
  position: absolute;
  overflow: hidden;
}
.home-btn-icon {
  top: 0;
  left: 98px;
  width: 100px;
  height: 93px;
  object-fit: cover;
}
.shopping {
  top: 337px;
  left: 0;
  background-color: var(--color-steelblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 297px;
  height: 95px;
  cursor: pointer;
}
.checkout,
.navbar {
  height: 3464px;
  overflow: hidden;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
}
.checkout {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #bd9391, #6cbeed 13.5%);
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
  font-family: var(--font-koh-santepheap);
}
